/*
Cores
Primária: #d96b3d
Secundária: #382110
*/

/* Esconder scroll bar. */
* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox, Safari 18.2+, Chromium 121+ */
}
*::-webkit-scrollbar {
  display: none; /* Older Safari and Chromium */
}

body {
  height: 100vh;
  overflow-y: auto;
}

.elementos-entrar {
  transform: translate(0%, 15%);
}

.elementos-cadastrar {
  transform: translate(0%, 10%);
}

footer,
.entrar,
.cadastrar,
.navbar,
.corpo-card-pet {
  background-color: #d96b3d;
}

.entrar .cabeca-entrar,
.cadastrar .cabeca-cadastrar,
.botao-alterar,
.botao-alterar:hover,
.cabeca-card-pet,
.botao-meus-pets,
.botao-cadastrar-pet {
  background-color: #382110;
}

/* Estarão escondidas por padrão, sendo ativadas somente caso o usuário preencha o campo de senha nova. */
#confirmacao-senha-nova,
#senha-atual {
  display: none;
}

/* Alterar visibilidade da imagem de acordo com o tamanho da tela. */
@media screen and (max-width: 900px) {
  .imagem-pet {
    height: 200px;
  }
}

@media screen and (min-width: 901px) {
  .imagem-pet {
    height: 300px;
  }
}

.imagem-pet {
  object-fit: cover;
  object-position: center;
}
