/*
Cores
Primária: #d96b3d
Secundária: #382110
*/

body {
  height: 100vh;
  overflow-y: auto;
}

.elementos-entrar {
  transform: translate(0%, 15%);
}

* {
  color: #382110;
}

a {
  text-decoration: none;
  color: #382110;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #d96b3d;
}

.login {
  background-color: #d96b3d;
}

.login .cabeca-login {
  background-color: #382110;
}

.login .botao-login {
  background-color: #382110;
}
