/*
Cores
Primária: #d96b3d
Secundária: #382110
*/

body {
  height: 100vh;
  overflow-y: auto;
}

.elementos-entrar {
  transform: translate(0%, 15%);
}

.elementos-cadastrar {
  transform: translate(0%, 10%);
}

footer,
.entrar,
.cadastrar {
  background-color: #d96b3d;
}

.entrar .cabeca-entrar,
.cadastrar .cabeca-cadastrar {
  background-color: #382110;
}
