<div class="navbar d-flex flex-row align-items-center mb-5 p-lg-4 p-2">
  <a
    href="/adotai/view/pagina-principal.php"
    class="col-lg-2 col-6 text-decoration-none"
  >
    <img src="/adotai/util/desenho.png" class="w-25" />
    <img src="/adotai/util/escrita.png" class="w-50 d-none d-lg-inline" />
  </a>

  <div class="d-flex justify-content-end col-md-4 col-6">
    <a href="/adotai/view/perfil.php" class="d-flex justify-content-end col-2">
      <img
        src="/adotai/util/<?= $usuario->getTipoImagemPerfilUsu() === 'g' ? 'user-gato.png' : 'user-cachorro.png' ?>"
        alt="Foto de perfil do usuário"
        class="col-lg-7 col-12 bg-white rounded-5"
      />
    </a>
  </div>
</div>
